@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', 'Noto Sans TC', Arial, sans-serif;
  letter-spacing: 1.5px;
}

body {
  background: linear-gradient(to right, #480ca8 0%, #4361ee 100%);
}

.todo-app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 60px auto;
  padding: 10px 10px;
  text-align: center;
  max-width: 520px;
  min-height: 520px;
  color: #fff;
  background-color: #0b132b;
  border-radius: 20px;
  padding-bottom: 32px;
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.link-btn {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  background-color: #f72585;
  text-decoration: none;

  &:hover {
    color: #f72585;
    border: 2px solid #f72585;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }
}

h1 {
  margin: 32px 0;
  font-size: 48px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;

  &__input {
    padding: 14px 32px 14px 16px;
    min-width: 70%;
    color: #fff;
    font-size: 16px;
    background: transparent;
    border: 2px solid #4895ef;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;

    &::placeholder {
      color: #e2e2e2;
    }

    &.edit {
      border: 2px solid #b5179e;
    }
  }

  &__btn {
    padding: 16px;
    width: 95px;
    border-radius: 0 5px 5px 0;
    outline: none;
    background: linear-gradient(90deg, #4cc9f0 0%, #4895ef 100%);
    text-transform: capitalize;

    &.edit {
      background: linear-gradient(to right, #b5179e 0%, #7209b7 100%);
    }
  }
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  padding: 16px;
  width: 90%;
  font-size: 16px;
  background: linear-gradient(90deg, #4cc9f0 0%, #4895ef 100%);
  border-radius: 5px;

  &:nth-child(2n) {
    background: linear-gradient(90deg, #f72585 0%, #b5179e 100%);
  }

  &__text {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.icons {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.home {
  display: grid;
  place-items: center;
  gap: 50px;
}

.description {
  font-size: 24px;
}

.auth-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  position: absolute;
  top: 5px;
  right: 10px;
  text-transform: capitalize;
  background: none;
  color: #4cc9f0;
  font-size: 18px;

  &:hover {
    transform: scale(1.2);
  }
}

.todo-icon {
  color: #fff;
  font-size: 200px;
}

.auth-icon {
  color: #4cc9f0;
  font-size: 23px;
}

.arrow-icon {
  display: inline-block;
  font-size: 50px;
  animation: MoveUpDown 1.3s linear infinite;
  // transform: translateY(8px);
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(0);
  }
}

@media (max-width: 34em) {
  h1 {
    font-size: 40px;
  }

  .arrow-icon {
    font-size: 30px;
  }
}
